.scrollable-tabs-container {
  background: #000;
  max-width: 700px;
  margin: 16px auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container .ri-arrow-left-s-line,
.scrollable-tabs-container .ri-arrow-right-s-line{
 font-size: 25px;
  cursor: pointer;
  color: #f8f8f8;

}

.scrollable-tabs-container ul {
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}



.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container a {
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container a.active {
  background: #fff;
  color: #000;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  top: 24%;
  padding: 0 10px;

}



.scrollable-tabs-container .right-arrow {
  right: 0;
  background: linear-gradient(to left, #000 20%, transparent);
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow {
  background: linear-gradient(to right, #000 20%, transparent);
}

.scrollable-tabs-container svg:hover {
  background: #333;
}